 body {
     margin: 0;
     font-family: Arial, sans-serif;
     background-image: url(asset/bg-web.png);
     background-attachment: fixed;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;

 }

 /* NAVBAR */
 .navbar {
     width: 100%;
     background: linear-gradient(357deg, rgba(30, 30, 115, 1) 15%, rgb(133, 139, 255) 100%);
     padding: 15px 25px;
     color: white;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1000;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .navbar-toggler {
    color: white;
    background-color: red;
 }

 .navbar a {
     color: white;
     text-decoration: none;
     margin: 0 10px;
     font-weight: bold;
 }

 .carousel {
     box-shadow: 0 8px 32px 0 black;
     border-bottom: 5px solid rgba(30, 30, 115, 0.629);
 }

 .carousel-item img {
     object-fit: cover;
     aspect-ratio: 16/9;
 }

 .carousel-text {
     position: absolute;
     bottom: 20px;
     left: 20px;
     color: white;
     font-size: 24px;
     opacity: 0;
     transition: 0.4s ease;
 }

 .carousel-item:hover .carousel-text {
     opacity: 1;
     transform: translateY(-10px);
 }

 /* GRID */
 .container-card-car {
     margin-top: 100px;
     padding: 20px;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     gap: 20px;
 }

 /* CARD */
 .card-car {
     background: linear-gradient(357deg, rgba(30, 30, 115, 1) 15%, rgb(133, 139, 255) 100%);
     border-radius: 12px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
     overflow: hidden;
     transition: 0.3s ease;
     border: 1px solid rgba(0, 60, 255, 0.615);
 }

 .card-car:hover {
     transform: translateY(-5px);
 }

 .card-car img {
     width: 100%;
     height: 180px;
     object-fit: cover;
 }

 .card-body-car {
     padding: 15px;
 }

 .card-body-car h3 {
     margin: 0 0 10px 0;
     color: white;
     font-weight: bold;
 }

 .card-body-car p {
     margin: 0;
     color: #aeaeae;
 }

 footer {
     background: #0a3d62;
     color: white;
     padding: 20px;
     text-align: center;
     margin-top: 40px;
 }